<extend name="Public:layout" />
<block name="main-content">
<div class="container-fluid" >
	<form action="{:U('CourseType/update')}" enctype="multipart/form-data" method="post">

	<div class="form-group">
		<label for="type_name" class="col-sm-2 col-lg-2 control-label">类型名称：</label>
		<input required type="text" name="type_name" id="type_name" value="{$info['type_name']}" class="form-control">
	</div>
	
	<div class="form-group">
		<input type="hidden" name="id" value="{$info['id']}">
		<label for="edit" class="col-sm-2 col-lg-2 control-label"></label>
		<input type="submit" id="edit" class="btn btn-success" value="修改">
	</div>

</form>
</div>

</block>