<extend name="Public:layout" />
<block name="main-content">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 pt8"> 
			<div class="ctitle">课程类型管理  
			<button class="btn btn-success ml8" onclick="javascript:link('__APP__/CourseType/add');">添加</button>
			<button class='btn btn-info ml8' onclick="javascript:tabreload()" >刷新</button> 
			 
			</div>
			<div class="table-responsive mt20">
				<table class="table table-hover table-bordered">
					 <tr class="active">
					 	<th>操作</th>
						<th>id</th>
						<th>课程类型名称</th>
					 </tr>
					 <volist name="list" id="v">
					 	<tr id="tr_{$v['id']}"> 
					 		<td class="w80"><button class="btn btn-success ml8" onclick="javascript:link('__APP__/CourseType/edit/id/{$v['id']}');">修改</button>
					 		<button class="btn btn-success ml8" id={$v['id']} onclick="bn_del({$v['id']})">删除</button>
							</td>
					 		<td>{$v['id']}</td>
					 		<td>{$v['type_name']}</td>

					 	</tr> 
					</volist>
				</table>
				<div class="page">{$page}</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="acurl" value="">
<script type="text/javascript">
function bn_del(id){
	$.ajax({
		url:'__APP__/CourseType/del',
		type:'POST',
		dataType:'json',
		data:{id:id},
		success:function(m){
			if (m.status) {
				$("#tr_"+id).remove();
			}
			alert(m.msg);
		}
	})
}
</script>
</block>
