<!DCOTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>文章管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/libs/bootstrap-3.3.0/css/bootstrap.min.css"  />

	<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.1.11.1.min.js"></script>
	<script type="text/javascript" scr="__PIUBLIC__/Admin/libs/bootstrap-3.3.0/js/bootstrap.min.js"></script>

<style>
table{margin-top: 20px; text-align:center;}
td{padding-left: 10px;}
tr{height: 30px; border-bottom: 1px solid #ccc; }
</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">后台</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="#">课程</a></li>
            <li><a href="{:U('/community')}">社区</a></li>
            <li class="active"><a href="{:U('index')}">文章</a></li>
            <li><a href="#">用户</a></li>
            <li><a href="#">设置</a></li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
	<div class="col-md-2" style="margin-top:30px; height:100%; border-right:1px solid #ccc;">
		<div style="margin-top:30px;">
			<a href="{:U('/ArticleType/index')}">文章类型管理</a>
		</div>
		<div>
			<a href="{:U('index')}">文章管理</a>
		</div>
	</div>
	<div class="col-md-10">
		<h1 style="text-align:center;">文章管理</h1>

		<div style="text-align: right;">
			<a href="{:U('add')}" class="btn-primary">添加文章</a>
		</div>
		<br />
		<div style="text-align:right;">
			<p>第{$page}页 共{$maxpage}页  共{$count}篇</p>
		</div>
		<table cellspacing="10" align="center">
			<tr>
				<td>文章ID</td>
				<td>文章标题</td>
				<td>文章类型</td>
				<td>图片地址</td>
				<td>关键字</td>
				<td>添加时间</td>
				<td>操作</td>
			</tr>
			<!-- volist标签是用于遍历的,这里将传入参数data遍历,给了data一个叫vo的别名，用来遍历体重使用 -->
		<volist name="data" id="vo">
			<tr>
				<td>{$vo.id}</td>
				<td>{$vo.article_title}</td>
				<td>{$vo.article_type}</td>
				<td>
				<a href="../../{$vo.img}" target="_blank">查看</a>
				</td>
				<td>{$vo.key_word}</td>
				<td>{$vo.create_time}</td>
				<td>
					<a href="{:U('delete')}?id={$vo.id}">删除</a>
					<a href="{:U('alter')}?id={$vo.id}">修改</a>
				</td>
			</tr>
		</volist>
		</table>
		
		<div style="text-align: center; margin-top: 50px;">
			<!-- for是循环标签，循环体内的$i就是循环变量 -->
			<for start="1" end="$maxpage+1">
				<a href="{:U('index')}?page={$i}" style="margin: 5px;">{$i}</a>
			</for>
		</div>
	</div>
</div>
</body>
</html>
