<extend name="Public:layout" />
<block name="main-content">
	<div class="main container">
		<div class="row m">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="s-title">
					<a href="__APP__/bbs" class="active">
						全部社区
					</a>
					<a href="__APP__/topic" >
						最热话题
					</a>
				</div>
				<div class="hot">
					<div class="sub">
						<div class="s-item row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="__PUBLIC__/home/1.jpg" alt="" class="si-img">
							</div>
							<div class="col-lg-10 col-md-10 col-sm-10">
								<a class="s-t" href="">【励志贴】新学期，先定一个小目标</a>
								<p class="smp">王老板说：“......先定一个能达到的小目标，比方说我</p>
								<div>
									<div class="s-l left">
										<span class="author">数以</span>发表于<span class="bbs">24班的女生</span><span class="date">1天前</span>最后回复:<span class="commen">傻逼</span><span class="cdata">于1天前</span>
									</div>
									<div class="s-r left">
										<span class="glyphicon glyphicon-eye-open"></span>36
										<span class="glyphicon glyphicon-comment"></span>3
									</div>
									<div class="clearboth"></div>
								</div>
							</div>
						</div>
						<div class="s-item row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="__PUBLIC__/home/images/1.jpg" alt="" class="si-img">
							</div>
							<div class="col-lg-10 col-md-10 col-sm-10">
								<a class="s-t" href="">【励志贴】新学期，先定一个小目标</a>
								<p class="smp">王老板说：“......先定一个能达到的小目标，比方说我</p>
								<div>
									<div class="s-l left">
										<span class="author">数以</span>发表于<span class="bbs">24班的女生</span><span class="date">1天前</span>最后回复:<span class="commen">傻逼</span><span class="cdata">于1天前</span>
									</div>
									<div class="s-r left">
										<span class="glyphicon glyphicon-eye-open"></span>36
										<span class="glyphicon glyphicon-comment"></span>3
									</div>
									<div class="clearboth"></div>
								</div>
							</div>
						</div>
						<div class="s-item row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="__PUBLIC__/home/images/1.jpg" alt="" class="si-img">
							</div>
							<div class="col-lg-10 col-md-10 col-sm-10">
								<a class="s-t" href="">【励志贴】新学期，先定一个小目标</a>
								<p class="smp">王老板说：“......先定一个能达到的小目标，比方说我</p>
								<div>
									<div class="s-l left">
										<span class="author">数以</span>发表于<span class="bbs">24班的女生</span><span class="date">1天前</span>最后回复:<span class="commen">傻逼</span><span class="cdata">于1天前</span>
									</div>
									<div class="s-r left">
										<span class="glyphicon glyphicon-eye-open"></span>36
										<span class="glyphicon glyphicon-comment"></span>3
									</div>
									<div class="clearboth"></div>
								</div>
							</div>
						</div>
						<div class="s-item row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="__PUBLIC__/home/images/1.jpg" alt="" class="si-img">
							</div>
							<div class="col-lg-10 col-md-10 col-sm-10">
								<a class="s-t" href="">【励志贴】新学期，先定一个小目标</a>
								<p class="smp">王老板说：“......先定一个能达到的小目标，比方说我</p>
								<div>
									<div class="s-l left">
										<span class="author">数以</span>发表于<span class="bbs">24班的女生</span><span class="date">1天前</span>最后回复:<span class="commen">傻逼</span><span class="cdata">于1天前</span>
									</div>
									<div class="s-r left">
										<span class="glyphicon glyphicon-eye-open"></span>36
										<span class="glyphicon glyphicon-comment"></span>3
									</div>
									<div class="clearboth"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="page">
						<!--<nav>
							<ul class="pagination">
								<li ><a href="#">&laquo;</a></li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li><a href="#">&raquo;</a></li>
							</ul>
						</nav>-->
						{$page}
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h3>热门社区</h3>
				<div class="litem">
					<div class="item4">
						<div class="i-img left">
							<img src="__PUBLIC__/home/images/1.jpg" alt="">
						</div>
						<div class="i-m left">
							<a href="" class="t-a">半夜三根敲代码</a><br>
							<small>这里是简介。。。。</small>
							<div class="im-o">
								<span class="glyphicon glyphicon-user"></span>80
								<span class="glyphicon glyphicon-comment"></span>80
								<a href=""><span class="btn-join">+加入</span></a>
							</div>
						</div>
						<div class="clearboth"></div>
					</div>
					<div class="item4">
						<div class="i-img left">
							<img src="__PUBLIC__/home/images/1.jpg" alt="">
						</div>
						<div class="i-m left">
							<a href="" class="t-a">半夜三根ken甘蔗</a><br>
							<small>这里是简介。。。。</small>
							<div class="im-o">
								<span class="glyphicon glyphicon-user"></span>80
								<span class="glyphicon glyphicon-comment"></span>80
								<a href=""><span class="btn-join">+加入</span></a>
							</div>
						</div>
						<div class="clearboth"></div>
					</div>
					<div class="item4">
						<div class="i-img left">
							<img src="__PUBLIC__/home/images/1.jpg" alt="">
						</div>
						<div class="i-m left">
							<a href="" class="t-a">半夜三根干嘛</a><br>
							<small>这里是简介。。。。</small>
							<div class="im-o">
								<span class="glyphicon glyphicon-user"></span>80
								<span class="glyphicon glyphicon-comment"></span>80
								<a href=""><span class="btn-join">+加入</span></a>
							</div>
						</div>
						<div class="clearboth"></div>
					</div>
					<div class="item4">
						<div class="i-img left">
							<img src="__PUBLIC__/home/images/1.jpg" alt="">
						</div>
						<div class="i-m left">
							<a href="" class="t-a">半夜三根敲代码</a><br>
							<small>这里是简介。。。。</small>
							<div class="im-o">
								<span class="glyphicon glyphicon-user"></span>80
								<span class="glyphicon glyphicon-comment"></span>80
								<a href=""><span class="btn-join">+加入</span></a>
							</div>
						</div>
						<div class="clearboth"></div>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</block>