@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;outline:none;color:#07f;}
.f10{border:1px solid #ddd;padding:10px;width:90%;margin:10px auto;}
.clear{clear:both;}
.wrap{width:90%;margin:10px auto;}
.l_box{width:490px;float:left;}
.f20{width:100%;float:left;border:1px solid #ddd;padding:10px;margin:0 0 10px;}
.f40{width:250px;float:right;border:1px solid #ddd;margin:0 0 10px;}
.f11{width:50%;float:left;}
.f12{width:50%;float:right;}
.f12 h3{text-align:center;margin:40px auto 15px;}
.content{border:1px solid #ddd;float:left;width:100%;margin:0 0 10px;}
.content h3,.f40 h3{background:#eee;font-size:16px;line-height:30px;text-indent:1em;}
.content li{height:35px;line-height:35px;position:relative;padding:0 10px;}
.content li a b{color:#666;padding:0 8px 0 0;}
.content li span{position:absolute;top:0px;right:10px;color:#aaa;}
.f30{width:460px;float:left;margin:0 0 10px;}
.f40 li {padding:10px;height:50px;}
.f40 li a img{width:50px;height:50px;border-radius:50%;float:left;margin:0 10px 0 0;}
.f40 li a span,.f40 li a p{width:150px;float:left;}
.f40 li a p{color:#333;}  