<extend name="Public:layout" />
<block name="main-content">
<div class="container-fluid" >
	<form action="{:U('Course/save')}" enctype="multipart/form-data" method="post" class="form-horizontal" role="form">
		<div class="form-group">
		    <label for="course_name" class="col-sm-2 col-lg-2 control-label">课程名称:</label>
		    <div class="col-sm-10 col-lg-10">
		      <input required type="text" name="course_name" id="course_name" class="form-control">
		    </div>
		 </div>
		 <div class="form-group">
		    <label for="course_info" class="col-sm-2 col-lg-2 control-label">课程信息:</label>
		    <div class="col-sm-10 col-lg-10">
		      <textarea name="course_info" id="course_info" class="form-control" rows="3"></textarea>
		    </div>
		 </div>
		 <div class="form-group">
		    <label for="type_id" class="col-sm-2 col-lg-2 control-label">课程类型:</label>
		    <div class="col-sm-10 col-lg-10">
		      <select name="type_id" id="type_id" class="form-control">
				<volist name="courseType" id="vo">
		  			<option value ={$key}>{$vo}</option>  
				</volist>
			  </select>
		    </div>
		 </div>
		 <div class="form-group">
		    <label for="video_url" class="col-sm-2 col-lg-2 control-label">视频地址:</label>
		    <div class="col-sm-10 col-lg-10">
		      <textarea name="video_url" id="video_url" class="form-control" rows="3"></textarea>
		    </div>
		 </div>
		 <div class="form-group">
		    <label for="save" class="col-sm-2 col-lg-2 control-label"></label>
		    <div class="col-sm-10 col-lg-10">
		      <input type="submit" id="save" class="btn btn-success" value="保存">
		    </div>
		 </div>
		 
	<!--<div class="form-group">
	 一个表单传输文件的？ -->
		<!-- 缩略图： 
		<input class="dropify" type="file" name="thumb">
	</div> -->
</form>

</div>

</block>